@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&display=swap');
@import url('https://fonts.cdnfonts.com/css/droid-serif-2');
// Variables
$title-color: #612F19;
$background-color: #FFE1EC;
$text-color: #333;
$link-color: #730101;
$link-hover-color: #AA4050;
$link-active-color: #DB93A6;
$link-visited-color: #B66754;

$border-radius: 10px;

$font-family-serif: 'Dancing Script', cursive;
$font-family-droid-sans-serif: 'Droid Serif', sans-serif;

$marg : 10px;
$pad : 10px;
$size-h1: 50px;
$size-h2: 35px;
$size-h3: 30px;
$size-h4: 25px;
$text:uppercase;
$border:.5px solid;

$break-small: 1px;
$break-medium: 550px;
$break-large: 650px;
$break-xlarge: 700px;
$break-xxlarge: 800px;
$break-xxxlarge: 900px;

@mixin links ($color){
    color: $color;
}