h1{
    font-family: $font-family-serif;
    font-size: $size-h1;
    @include links ($title-color);
    font-weight: 1000;
    animation: infinite 4s ease-in-out infinite alternate;
}

h2{
    font-family: $font-family-serif;
    @include links ($title-color);
    font-size: $size-h2; 
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1em;

}

h3{
    font-family: $font-family-serif;
    font-size: $size-h3; 
    @include links ($title-color);
    animation: slideInLeft 1s ease-in;
}
h3{
    font-size: $size-h4; 
}