a{
    display: inline-block;
    transition: all 0.3s;

    &:link{
        text-decoration: none;
        @include links($link-color);
        font-family: $font-family-droid-sans-serif;
    }
    &:visited{
        @include links($link-visited-color);
    }
    &:active{
        @include links($link-active-color);
    }
    &:hover{
        @include links($link-hover-color);
        transform: translateY(-5px);
        border-bottom:2px solid $link-color;
        border-radius: 50px;
    }
}