// variables
$electric-brown-color: #B66754;
$liver-color: #612F19;
$english-red-color: #AA4050;
$parrot-pink-color: #DB93A6;
$cameo-pink-color: #EBB3C9;
$pale-pink-color: #F5D5DA;

body {
    width: 100%;
}