@import "./variables/variables";
@import "./atoms/header";
@import "./atoms/links";
@import "./atoms/paragraphs";
@import "./atoms/footer";
@import "./atoms/lists";
//set breakpoint sizes
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;


// breakpoint mixin
@mixin breakpoint($break) {
    @if $break==small {
        @media (min-width: $break-medium) {
            @content;
        }
    }

    @else if $break==medium {
        @media (min-width: $break-medium) and (max-width:$break-large) {
            @content;
        }
    }

    @else if $break==large {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

body{
    background-color: $background-color;
    text-align: center;
    margin:$marg;
    padding:$pad;
}
 .summary a{
    font-weight: bolder;
    text-decoration: solid;
    text-transform: uppercase;
}
.sidebar{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 10px;
    
}

