@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&display=swap");
@import url("https://fonts.cdnfonts.com/css/droid-serif-2");
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #612F19;
  font-weight: 1000;
  animation: slideInLeft 1s ease-in;
}

h2 {
  font-family: "Dancing Script", cursive;
  color: #612F19;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #612F19;
  animation: slideInLeft 1s ease-in;
}

h3 {
  font-size: 25px;
}

a {
  display: inline-block;
  transition: all 0.3s;
}
a:link {
  text-decoration: none;
  color: #730101;
  font-family: "Droid Serif", sans-serif;
}
a:visited {
  color: #B66754;
}
a:active {
  color: #DB93A6;
}
a:hover {
  color: #AA4050;
  animation: upAnddown 1s ease-in;
  border-top: 2px solid #730101;
  border-bottom: 2px solid #730101;
  border-radius: 50px;
}

p {
  font-family: "Droid Serif", sans-serif;
  color: #333;
}

footer a:link {
  text-decoration: none;
  color: #730101;
  font-family: "Droid Serif", sans-serif;
  font-weight: bold;
}
footer a:visited {
  color: #B66754;
}
footer a:active {
  color: #DB93A6;
}
footer a:hover {
  color: #AA4050;
}

li {
  list-style-type: none;
}

abbr {
  text-decoration: none;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

div,
article,
section,
header,
footer,
nav,
figure,
li {
  position: relative;
}

.group:after {
  display: block;
  height: 0;
  font-size: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #730101;
  display: inline-block;
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 36px;
}

h2 {
  color: #612F19;
  font-weight: 900;
  font-size: 76px;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 5%;
  border-top: 2px solid #AA4050;
  border-bottom: 2px solid #AA4050;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

h3 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 8px 0 2px 0;
}

section.intro div.summary p a,
div.explanation p a,
div.participation p a {
  color: #730101;
}

h1,
section.intro div.summary p,
div.requirements p:last-child {
  font-weight: 900;
  text-transform: capitalize;
}

section.intro div.summary p:last-child,
div.requirements p:last-child {
  border-top: 1px solid #AA4050;
  margin-top: 16px;
  padding-top: 24px;
}

p,
li {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 0;
}

html {
  background-color: #aa4050;
  padding: 2.5%;
}

body {
  background: rgb(255, 185, 196);
  background: linear-gradient(90deg, rgb(255, 185, 196) 0%, rgb(255, 225, 236) 50%, rgb(255, 185, 196) 100%);
  padding: 5%;
}

.page-wrapper {
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 30px;
}

.intro {
  padding: 3%;
}

.intro header {
  display: flex;
  flex-flow: column wrap;
}

.intro .summary {
  color: #fff;
  padding: 10% 0;
}

.intro .preamble {
  background: rgb(201, 134, 163);
  background: radial-gradient(circle, rgb(255, 185, 196) 0%, rgb(255, 224, 235) 86%);
  color: #333;
  padding: 15px;
  border-radius: 10px;
  width: 325px;
  margin-right: 70px;
}

.main {
  padding: 5%;
}

.sidebar {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(255, 185, 196) 0%, rgb(255, 224, 235) 86%);
  border-radius: 10px;
  padding: 5%;
}

.sidebar ul {
  padding: 8px 0 32px 0;
  font-size: 11%;
}

.sidebar ul li {
  list-style: none;
  margin: 0;
  padding: 5px 5px 14px 0;
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px 25px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes upAnddown {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
footer {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(339, 100%, 94%, 1)'/><path d='M18.822 18.717s.077-1.396-.737-2.21c-.813-.813-2.21-.736-2.21-.736s-.076 1.396.737 2.21c.814.813 2.21.736 2.21.736zm0-17.643s-1.396-.077-2.21.736c-.813.814-.736 2.21-.736 2.21s1.396.077 2.21-.736c.813-.814.736-2.21.736-2.21zM3.389 17.98c.813-.813.736-2.21.736-2.21s-1.396-.076-2.21.737c-.813.814-.736 2.21-.736 2.21s1.396.077 2.21-.737zm.736-13.96s.077-1.396-.736-2.21c-.814-.813-2.21-.736-2.21-.736s-.077 1.396.736 2.21c.814.813 2.21.736 2.21.736z'  stroke-width='1' stroke='none' fill='hsla(336, 58%, 81%, 1)'/><path d='M15.833 9.896s-.932-1.042-2.083-1.042c-1.15 0-2.083 1.042-2.083 1.042s.932 1.041 2.083 1.041c1.15 0 2.083-1.041 2.083-1.041zm-7.5 0S7.401 8.854 6.25 8.854c-1.15 0-2.083 1.042-2.083 1.042s.932 1.041 2.083 1.041c1.15 0 2.083-1.041 2.083-1.041zm2.709-3.75c0-1.15-1.042-2.083-1.042-2.083s-1.042.932-1.042 2.083C8.958 7.296 10 8.229 10 8.229s1.042-.933 1.042-2.083zm-2.084 7.5c0 1.15 1.042 2.083 1.042 2.083s1.042-.933 1.042-2.083c0-1.15-1.042-2.083-1.042-2.083s-1.042.932-1.042 2.083z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-size: 5%;
  border-radius: 10px;
  text-align: center;
  clear: both;
  color: #730101;
  padding: 18px 5%;
  width: 100%;
  margin: 0%;
}

footer a {
  text-align: center;
  padding: 2px;
}

.design-selection {
  text-align: right;
  padding: 15px;
}

.design-archives {
  text-align: right;
  padding: 15px;
}

.zen-resources {
  text-align: right;
  padding: 15px;
}

.explanation {
  background: rgb(201, 134, 163);
  background: radial-gradient(circle, rgb(255, 185, 196) 0%, rgb(255, 224, 235) 86%);
  border-radius: 10px;
  color: #333;
  padding: 5%;
  margin-top: -5%;
  margin-bottom: 5%;
}

.participation {
  background: rgb(201, 134, 163);
  background: radial-gradient(circle, rgb(255, 185, 196) 0%, rgb(255, 224, 235) 86%);
  color: #FFE1EC;
  border-radius: 10px;
  margin-top: 2%;
  width: 325px;
  margin-right: 70px;
  padding: 15px;
}

.preamble h3,
.explanation h3,
.participation h3,
.requirements h3,
.requirements h3 {
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px auto;
  padding-left: 55px;
}

.benefits h3 {
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px auto;
  padding-left: 50px;
}

.benefits {
  background: rgb(201, 134, 163);
  background: radial-gradient(circle, rgb(255, 185, 196) 0%, rgb(255, 224, 235) 86%);
  border-radius: 10px;
  color: #333;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.requirements {
  background: rgb(201, 134, 163);
  background: radial-gradient(circle, rgb(255, 185, 196) 0%, rgb(255, 224, 235) 86%);
  color: #FFE1EC;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 325px;
  margin-right: 70px;
  padding: 15px;
}

@media (min-width: 1px) {
  body {
    font-size: 85%;
  }
}
@media (min-width: 550px) {
  h2 {
    font-size: 75px;
  }
  h1 {
    font-size: 34px;
  }
}
@media (min-width: 650px) {
  h2 {
    font-size: 96px;
  }
  p,
  a {
    font-size: 16px;
  }
  .intro {
    width: 66.6%;
  }
  p,
  a {
    font-size: 14px;
  }
  footer {
    margin-left: -15%;
    padding: 16px 5%;
    width: 80%;
  }
  .sidebar ul li {
    background-size: 35px 35px;
  }
}
@media (min-width: 700px) {
  body {
    font-size: 90%;
  }
  .intro .preamble {
    margin-left: -20%;
    width: auto;
    padding: 5% 5% 5% 30%;
  }
  .participation {
    margin-left: -20%;
    padding: 5% 5% 5% 30%;
    width: auto;
  }
  .sidebar {
    position: absolute;
    right: 0;
    top: 2.5%;
    width: 32.75%;
    padding: 3%;
  }
  @keyframes bloomAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .extra1 {
    --mask:
    radial-gradient(47.54px at calc(100% + 27.20px) 50%,#0000 calc(99% - 8px),#000 calc(101% - 8px) 99%,#0000 101%) calc(50% - 21px + .5px) calc(50% - 68px)/ 42px 136px ,
    radial-gradient(47.54px at -27.2px 50%,#0000 calc(99% - 8px),#000 calc(101% - 8px) 99%,#0000 101%) calc(50% + 21px) 50%/42px 136px ;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    margin-right: 3%;
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 1;
    background-color: #AA4050;
  }
  .extra2 {
    background-color: #DB93A6;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    position: fixed;
    height: 40%;
    top: 70%;
    margin-right: 3.5%;
    width: 20%;
    z-index: 1;
    animation: bloomAnimation 3s ease-in-out infinite;
  }
  .explanation {
    float: left;
    width: 70%;
  }
  .participation {
    float: left;
    width: 75%;
  }
  .benefits {
    float: right;
    width: 45%;
    margin-top: -120%;
  }
  .requirements {
    float: left;
    width: 85%;
    margin-left: -20%;
    padding: 5% 5% 5% 20%;
  }
  .intro .preamble {
    margin-left: -20%;
    width: auto;
    padding: 5% 5% 5% 30%;
  }
  .benefits {
    margin-top: 12%;
    width: 30%;
  }
  .requirements {
    width: 69%;
  }
  footer {
    margin-left: -15%;
    padding: 16px 5%;
    width: 80%;
  }
}
@media (min-width: 800px) {
  body {
    font-size: 100%;
  }
  footer {
    padding: 16px 5%;
    width: 80%;
    margin-left: -15%;
  }
}
@media (min-width: 900px) {
  body {
    font-size: 110%;
  }
  footer {
    padding: 16px 5%;
    width: 80%;
    margin-left: -15%;
  }
  .benefits {
    float: right;
    width: 45%;
    margin-top: -45%;
  }
}
/*
body{
  background: rgb(255,185,196);
  background: linear-gradient(90deg, rgba(255,185,196,1) 0%, rgba(255,225,236,1) 50%, rgba(255,185,196,1) 100%);
    //background-color: $background-color;
    //background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    //background-repeat: no-repeat;
    //background-size: cover;
    opacity: 0.85;
    text-align: center;
    margin:$marg;
    padding:$pad;
}
 .summary a{
    font-weight: bolder;
    text-decoration: solid;
    text-transform: uppercase;
    transition: all 0.3s;
}
a{
  animation: upAnddown ease-in-out 3s ease;
}


.design-selection {
    text-align: center;
}
.design-archives{
    text-align: center;
}
.zen-resources{
    text-align: center;
}
.intro header{
  padding: 50px;
  margin-top: 30px;
  margin-left: 0;
 //border-top:2px solid  $link-hover-color;
  //border-bottom:2px solid  $link-hover-color;
  //border-top-left-radius: 60px;
  //border-bottom-right-radius: 60px;
  animation: bounce linear 4s 2s ease-in;

}
@keyframes slideInLeft{
  from {
    transform: translateX(-300px);
  }
  to{
    transform:translateX(0);
  }
}

@keyframes upAnddown{
  0% {
   transform: translateY(0);
  }
  20% {
    transform: translateY(0);
   }
  40%{
    transform: translateY(-6px);
  }
  50%{
    transform: translateY(0); 
  }
  60%{
    transform: translateY(-3px); 
  }
  80%{
    transform: translateY(0); 
  }
  100%{
    transform: translateY(0); 
  }
}


@keyframes bounce{
  0% {
   transform: translateY(0);
  }
  20% {
    transform: translateY(0);
   }
  40%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0); 
  }
  60%{
    transform: translateY(-15px); 
  }
  80%{
    transform: translateY(0); 
  }
  100%{
    transform: translateY(0); 
  }
}
h3{
  background-image: url("https://img.freepik.com/free-vector/floral-with-cherry-blossoms-full-bloom-pink_8130-710.jpg");
  //background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: auto;
  border-radius: 7px;
  background-size: cover;
  padding-left: 0%;
}
.wrapper a{
  animation: none;
}
footer a{
  animation:none;
  padding: 10px;
}






@include breakpoint(large) {  

.main{
    display: grid;
    grid-template-columns: 300px 300px 6fr;
    justify-content: space-around;
    grid-gap: 15px;
    max-width: 1000px;
    margin: 100px;
    margin-right: auto;
    margin-left: 100px;
    margin-top: 0;
  }


  .wrapper a{
    animation: none;
  }
  .intro{
    display: grid;
    //grid-template-columns: 500px 300px 500px;
    grid-template-areas: 
    "header-intro header-intro "  
    ". . "
    "summary preamble";
    justify-content: center;
    grid-gap: 12px;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left:auto;
    //border-bottom:2px solid  $link-hover-color;
    //border-bottom-left-radius: 60px;
    //border-bottom-right-radius: 60px;
    padding-bottom: 30px;

    //animation: move linear 5s infinite;
    //transform-origin: 50% 50%;
    //-webkit-animation:move linear 5s infinite;
    //-webkit-transform-origin: 50% 50%;
    //-moz-animation:move linear 5s infinite;
    //-moz-transform-origin: 50% 50%;
    //-ms-zoom-animation: move linear 5s infinite;
    //-ms-zoom-transform-origin: 50% 50%;
    //-o-animation: move linear 5s infinite;
    //-o-transform-origin: 50% 50%;
  }
  header{
    grid-area: header-intro;
  }

  @keyframes move{
    0% {
     padding-bottom: 100px;
    }
    24%{
      padding-bottom: 80px;
    }
    50%{
      padding-bottom: 60px;
    }
    74%{
      padding-bottom: 80px;
    }
    100%{
      padding-bottom: 100px;
    }
  }

  .summary{
    margin-top: 70px;
    grid-area: summary;
  }
  .preamble{
    grid-area: preamble;
  }
  .page-wrapper p{
    display:block;
    text-align: center;
    padding: 5px;
  }
  .explanation{
    grid-column: 1/2;
    grid-row:1/span 3 ;
  }

  .benefits{
    position: absolute;
    margin: 300px 0 0 0;
    left: 150px;
    right: auto;
    top: 1250px;
    width: 500px;
    height: 200px;
    //background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    //background-size: cover;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(255,185,196,1) 0%, rgba(255,224,235,1) 86%);
    padding: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: $link-active-color;
    border-width: 1px;
  }
  .benefits p{
    color:$text-color;
  }
  .requirements{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .participation{
    grid-column: 2/3;
    grid-row: 1/ span 3;
  }
  .sidebar{
    display: flex;
    //background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    //background-size: cover;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(255,185,196,1) 0%, rgba(255,224,235,1) 86%);
    padding: 45px;
    position: absolute;
    left: 1000px;
    right: auto;
    top: 800px;
    margin-left: 270px;
    width: 180px;
    height: 1200px;
    border: 1px ;
    border-radius: 10px;
    border-style: solid;
    border-color: $link-active-color;
    border-width: 1px;

  }
  .wrapper li a{
    padding: 5px;
  }
  footer{
    margin: 200px 50px 50px -150px;
    border: none;
    position: absolute;
    left: 910px;
    right: auto;
    top: 1610px;
    width: 300px;
    height: 120px;
    display: block;
    //background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    //background-size: cover;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(255,185,196,1) 0%, rgba(255,224,235,1) 86%);
    padding: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: $link-active-color;
    border-width: 1px;
  }

}
*/

/*# sourceMappingURL=style.css.map */
