@import "./variables/variables";
@import "./atoms/header";
@import "./atoms/links";
@import "./atoms/paragraphs";
@import "./atoms/footer";
@import "./atoms/lists";
@import "./atoms/abbreviations";
//set breakpoint sizes
$break-small: 600px;
$break-medium: 601px;
$break-large: 801px;


// breakpoint mixin
@mixin breakpoint($break) {
    @if $break==small {
        @media (min-width: $break-small) {
            @content;
        }
    }

    @else if $break==medium {
        @media (min-width: $break-medium) and (max-width:800px) {
            @content;
        }
    }

    @else if $break==large {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

body{
    background-color: $background-color;
    text-align: center;
    margin:$marg;
    padding:$pad;
}
 .summary a{
    font-weight: bolder;
    text-decoration: solid;
    text-transform: uppercase;
}
.design-selection {
    text-align: center;
}
.design-archives{
    text-align: center;
}
.zen-resources{
    text-align: center;
}


@include breakpoint(large) {
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    display: grid;
    grid-template-columns: 250px 250px 6fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 15px;
    max-width: 1000px;
    margin: 100px auto;
    margin-top: 0;
  }
  .page-wrapper p{
    text-align: center;
    padding: 5px;
  }

  .sidebar{
    padding: 0;
    align-content: center;
    padding-right: 5px;
  }
  
.benefits{
  grid-column: 1/2;
  grid-row:1/span 3 ;
}
.requirements{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .participation{
    grid-column: 2/3;
    grid-row: 1/ span 3;
  }
footer{
  grid-column:1/4 ;
}
.aside{
    display: flex;
    justify-content: space-between;
}





}