@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&display=swap");
@import url("https://fonts.cdnfonts.com/css/droid-serif-2");
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #612F19;
  font-weight: 1000;
  animation: slideInLeft 1s ease-in;
}

h2 {
  font-family: "Dancing Script", cursive;
  color: #612F19;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1em;
  animation: slideInLeft 1s ease-in;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #612F19;
  animation: slideInLeft 1s ease-in;
}

h3 {
  font-size: 25px;
}

a {
  display: inline-block;
  transition: all 0.3s;
}
a:link {
  text-decoration: none;
  color: #333;
  font-family: "Droid Serif", sans-serif;
}
a:visited {
  color: #B66754;
}
a:active {
  color: #DB93A6;
}
a:hover {
  color: #AA4050;
  transform: translateY(-5px);
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-radius: 50px;
  animation: none;
}

p {
  font-family: "Droid Serif", sans-serif;
  color: #333;
}

footer {
  border: 1px solid #333;
}
footer a:link {
  text-decoration: none;
  color: #333;
  font-family: "Droid Serif", sans-serif;
  font-weight: bold;
}
footer a:visited {
  color: #B66754;
}
footer a:active {
  color: #DB93A6;
}
footer a:hover {
  color: #AA4050;
}

li {
  list-style-type: none;
}

abbr {
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div,
article,
section,
header,
footer,
nav,
figure,
li {
  position: relative;
}

div.page-wrapper {
  z-index: 2;
}

div {
  display: block;
}

body {
  position: relative;
  background-image: linear-gradient(135deg, #F5D5DA, #DB93A6, #AA4050);
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 4s ease-in-out infinite;
  background-size: 400% 200%;
  text-align: center;
}

.summary a {
  font-weight: bolder;
  text-decoration: solid;
  text-transform: uppercase;
  transition: all 0.3s;
}

a {
  animation: upAnddown ease-in-out 3s infinite;
}

.page-wrapper {
  padding: 20px;
  padding-top: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

.design-selection {
  text-align: center;
}

.design-archives {
  text-align: center;
}

.zen-resources {
  text-align: center;
}

section.intro {
  position: relative;
}

header {
  display: block;
}

.intro header {
  padding: 50px;
  margin-left: 0;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.intro h1 {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #ea2e49;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  position: relative;
}

h2 {
  display: block;
  background-color: aqua;
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  line-height: 5em;
  margin-top: 10%;
}

section.intro div.summary {
  color: #fff;
  padding: 5% 0;
}

@keyframes change {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes upAnddown {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
h3 {
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: auto;
  background-size: contain;
  padding-left: 0%;
}

.wrapper a {
  animation: none;
}

footer a {
  animation: none;
  padding: 10px;
}

/*@include breakpoint(large) { 
  body{
    max-width: 1200px;
  margin: auto;
  }

//.main{
    display: grid;
    grid-template-columns: 300px 300px 6fr;
    justify-content: center;
    grid-gap: 15px;
    max-width: 1000px;
    margin: 100px;
    margin-right: auto;
    margin-left: 100px;
    margin-top: 0;
  }

  /*.wrapper {
    display: grid;
    gid-template-columns: 500px 300px 500px;
    justify-content: center;
    grid-gap: 15px;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left:auto;
    border-top:2px solid  $link-hover-color;
    border-bottom:2px solid  $link-hover-color;
    padding: 50px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    animation: bounce linear 4s 2s infinite;
  }*/
/*.wrapper a{
    animation: none;
  }
  .intro{
    display: grid;
    grid-template-columns: 500px 300px 500px;
    justify-content: center;
    grid-gap: 15px;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left:auto;
    border-bottom:2px solid  $link-hover-color;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 100px;
    //animation: move linear 5s infinite;
    //transform-origin: 50% 50%;
    //-webkit-animation:move linear 5s infinite;
    //-webkit-transform-origin: 50% 50%;
    //-moz-animation:move linear 5s infinite;
    //-moz-transform-origin: 50% 50%;
    //-ms-zoom-animation: move linear 5s infinite;
    //-ms-zoom-transform-origin: 50% 50%;
    //-o-animation: move linear 5s infinite;
    //-o-transform-origin: 50% 50%;
  }

  @keyframes move{
    0% {
     padding-bottom: 100px;
    }
    24%{
      padding-bottom: 80px;
    }
    50%{
      padding-bottom: 60px;
    }
    74%{
      padding-bottom: 80px;
    }
    100%{
      padding-bottom: 100px;
    }
  }

  .summary{
    margin-top: 70px;
  }
  .page-wrapper p{
    display:block;
    text-align: center;
    padding: 5px;
  }
  .explanation{
    grid-column: 1/2;
    grid-row:1/span 3 ;
  }

.benefits{
  position: absolute;
  left: 150px;
  right: auto;
  top: 1250px;
  width: 500px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    background-size: cover;
    padding: 30px;
}
.benefits p{
  color:black;
}
.requirements{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .participation{
    grid-column: 2/3;
    grid-row: 1/ span 3;
  }
  .sidebar{
    display: block;
    background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    background-size: cover;
    padding: 50px;
    position: absolute;
    left: 1000px;
    right: auto;
    top: 700px;
    margin-left: 270px;
    width: 180px;
    height: 1200px;
    border: 1px ;
  }
  .wrapper li a{
    padding: 5px;
  }
footer{
  border: none;
  position: absolute;
  left: 910px;
  right: auto;
  top: 1610px;
  width: 300px;
  height: 120px;
  display: block;
    background-image: url("https://images.unsplash.com/photo-1656695243999-8798ec86b214?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1340&q=80");
    background-size: cover;
    padding: 30px;
}
}*/

/*# sourceMappingURL=style.css.map */
