@import "./variables/variables";
@import "./atoms/header";
@import "./atoms/links";
@import "./atoms/paragraphs";
@import "./atoms/footer";
@import "./atoms/lists";
@import "./atoms/abbreviations";

@mixin breakpoint($break) {
  @if $break == medium {
    @media (min-width: $break-medium) {
      @content;
    }
  } @else if $break == large {
    @media (min-width: $break-large) {
      @content;
    }
  
}
}

* {
  margin: 0;
  padding: 0;
}

div,
article,
section,
header,
footer,
nav,
figure,
li {
  position: relative;
}

.group:after {
  display: block;
  height: 0;
  font-size: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}
* {
  box-sizing: border-box;
}

h1 {
  color:$link-color ;
  display: inline-block;
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 36px;
}
h2 {
  color: $title-color;
  font-weight: 900;
  font-size: 66px;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 5%;
  border-top: 2px solid $link-hover-color;
  border-bottom: 2px solid $link-hover-color;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
h3 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 8px 0 2px 0;
}

section.intro div.summary p a,
div.explanation p a,
div.participation p a {
  color: $link-color;
}

h1,
section.intro div.summary p,
div.requirements p:last-child {
  font-weight: 900;
  text-transform: capitalize;
}

section.intro div.summary p:last-child,
div.requirements p:last-child {
  border-top: 1px solid $link-hover-color;
  margin-top: 16px;
  padding-top: 24px;
}

p,
li {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 0;
}


body {
  background: rgb(255, 185, 196);
  background: linear-gradient(
    90deg,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 225, 236, 1) 50%,
    rgba(255, 185, 196, 1) 100%
  );

  padding: 5%;
}

.page-wrapper {
  z-index: 2;
  display: flex;

  flex-flow: column wrap;
  justify-content: center;
  gap: 30px;
}

.intro {
  padding: 3%;
}
.intro header{
  display: flex;
  flex-flow: column wrap;

}
.intro .summary {
  color: #fff;
  padding: 10% 0;
  width: 80%
}
.intro .preamble {
  background: rgb(201, 134, 163);
  background: radial-gradient(
    circle,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 224, 235, 1) 86%);
  color: $text-color;
  padding: 15px;
  border-radius: $border-radius;
  width: 325px;
  margin-right: 70px;
}
.main {
  padding: 5%;
}
.sidebar {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 224, 235, 1) 86%
  );
  border-radius: $border-radius;
  padding: 5%;
  width: 100%;
}
.sidebar ul {
  padding: 8px 0 32px 0;
  font-size: 11%;
}
.sidebar ul li {
  list-style: none;
  margin: 0;
  padding: 5px 5px 14px 0;
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px 25px;
  border-bottom: 1px solid $link-visited-color ;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes upAnddown {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

footer {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(339, 100%, 94%, 1)'/><path d='M18.822 18.717s.077-1.396-.737-2.21c-.813-.813-2.21-.736-2.21-.736s-.076 1.396.737 2.21c.814.813 2.21.736 2.21.736zm0-17.643s-1.396-.077-2.21.736c-.813.814-.736 2.21-.736 2.21s1.396.077 2.21-.736c.813-.814.736-2.21.736-2.21zM3.389 17.98c.813-.813.736-2.21.736-2.21s-1.396-.076-2.21.737c-.813.814-.736 2.21-.736 2.21s1.396.077 2.21-.737zm.736-13.96s.077-1.396-.736-2.21c-.814-.813-2.21-.736-2.21-.736s-.077 1.396.736 2.21c.814.813 2.21.736 2.21.736z'  stroke-width='1' stroke='none' fill='hsla(336, 58%, 81%, 1)'/><path d='M15.833 9.896s-.932-1.042-2.083-1.042c-1.15 0-2.083 1.042-2.083 1.042s.932 1.041 2.083 1.041c1.15 0 2.083-1.041 2.083-1.041zm-7.5 0S7.401 8.854 6.25 8.854c-1.15 0-2.083 1.042-2.083 1.042s.932 1.041 2.083 1.041c1.15 0 2.083-1.041 2.083-1.041zm2.709-3.75c0-1.15-1.042-2.083-1.042-2.083s-1.042.932-1.042 2.083C8.958 7.296 10 8.229 10 8.229s1.042-.933 1.042-2.083zm-2.084 7.5c0 1.15 1.042 2.083 1.042 2.083s1.042-.933 1.042-2.083c0-1.15-1.042-2.083-1.042-2.083s-1.042.932-1.042 2.083z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-size: 5%;
  border-radius: $border-radius;
  text-align: center;
  clear: both;
  color: $link-color;
  padding: 18px 5%;
  width: 82%;
  margin: 0%;
}
footer a {
  text-align: center;
  padding: 2px;
}
.design-selection {
  text-align: right;
  padding: 15px;
}
.design-archives {
  text-align: right;
  padding: 15px;
}
.zen-resources {
  text-align: right;
  padding: 15px;
}

.explanation {
  background: rgb(201, 134, 163);
  background: radial-gradient(
    circle,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 224, 235, 1) 86%
  );
  border-radius: $border-radius;
  color: $text-color;
  padding: 5%;
  margin-top: -5%;
  margin-bottom: 5%;
  width: 82%;
}
.participation {
  background: rgb(201, 134, 163);
  background: radial-gradient(
    circle,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 224, 235, 1) 86%
  );
  // margin-left: -20%;
  // padding: 5% 5% 5% 30%;
  color: $background-color;
  border-radius: $border-radius;
  margin-top: 2%;
  width: 325px;
  margin-right: 70px;
  padding: 15px;
}
.preamble h3,
.explanation h3,
.participation h3,
.requirements h3,
.requirements h3 {
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px auto;
  padding-left: 55px;
}

.benefits h3 {
  background-image: url("https://em-content.zobj.net/thumbs/120/softbank/145/cherry-blossom_1f338.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px auto;
  padding-left: 50px;
}

.benefits {
  background: rgb(201, 134, 163);
  background: radial-gradient(
    circle,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 224, 235, 1) 86%
  );
  border-radius: $border-radius;
  color: $text-color;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 82%;
}

.requirements {
  background: rgb(201, 134, 163);
  background: radial-gradient(
    circle,
    rgba(255, 185, 196, 1) 0%,
    rgba(255, 224, 235, 1) 86%
  );
  color: $background-color;
  border-radius: $border-radius;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 325px;
  margin-right: 70px;
  padding: 15px;
}
header{
  width: 80%;
}



@include breakpoint(medium) {
  h2 {
    font-size: 75px;
  }
  h1 {
    font-size: 34px;
  }
  p, a{ 
    font-size: 14px;
  }
  .intro .preamble{
    width: 100%;
  }
  .participation{
    width: 100%;
  }
  .explanation{
    width: 100%;
  }
  .requirements{
    width: 100%;
  }
  .sidebar{
    width: 100%;
  }
  footer{
    width: 100%;
  }
  .extra1 {

    bottom: 0;
    right: 0;
    position:fixed;
    top: 0;
    width: 20%;
    z-index: 1;
    padding: 0%;
  
   background-image: url(../../Images_for_zengarden/cherry_blossom02.png);
   background-repeat: repeat;
   background-size: 300px;
 }
 .sidebar ul li{
  background-size: 35px;
}

}

@include breakpoint(large) {
  h2{
    font-size: 86px;
  }
  p, a{
    font-size: 16px;
  }
  .sidebar ul li{
    background-size: 35px;
  }

  .intro{
    width: 80%;
  }
  .intro .preamble {
    margin-left: -20%;
    width: auto;
    padding: 5% 5% 5% 30%;
  }
  .participation {
    margin-left: -20%;
    padding: 5% 5% 5% 30%;
    width: auto;
  }
  .sidebar {
    position: absolute;
    right: 0;
    top: 2.5%;
    width: 32.75%;
    padding: 3%;
  }
  
  .extra1 {

     bottom: 0;
     right: 0;
     position:fixed;
     top: 0;
     width: 20%;
     z-index: 1;
     padding: 0%;
   
    background-image: url(../../Images_for_zengarden/cherry_blossom02.png);
    background-repeat: repeat;
    background-size: 300px;
  }
  
  .explanation {
    float: left;
    width: 70%;
  }
  .participation {
    float: left;
    width: 75%;
  }
  .benefits {
    float: right;
    width: 45%;
    margin-top: -120%;
  }
  .requirements {
    float: left;
    width: 85%;
    margin-left: -20%;
    padding: 5% 5% 5% 20%;
  }
  .intro .preamble {
    margin-left: -20%;
    width: 105%;
    padding: 5% 5% 5% 30%;
  }
  .benefits {
    margin-top: 12%;
    width: 30%;
  }
  .requirements {
    width: 69%;
  }
  footer {
    margin-left: -15%;
    padding: 16px 5%;
    width: 60%;
  }
}





